In [9]:
import sqlite3
import pandas as pd
from user import User

def load_data_from_sqlite(db_path, query):
    """
    Load data from an SQLite database into a Pandas DataFrame.

    Args:
        db_path (str): The file path to the SQLite database.
        query (str): SQL query to fetch the data.

    Returns:
        pd.DataFrame: DataFrame containing the results of the SQL query.
    """
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_path)

    # Use pandas to query the database and load the data into a DataFrame
    df = pd.read_sql_query(query, conn)

    # Close the database connection
    conn.close()

    return df

# Example usage
db_path = 'C:/Users/sotir/Desktop/backend/users.db'  # Adjust the path as needed
query = "SELECT * FROM users"  # Adjust the SQL query as needed
dataframe = load_data_from_sqlite(db_path, query)

print(dataframe)

   id  name surname                 email           password    location  \
0   1  John     Doe  john.doe@example.com  securepassword123    New York
1   2    Jo      Do    jo.doe@example.com  securepassword123  New Jersey

   ranking
0      4.8
1      4.8

In [10]:
dataframe

,id,name,surname,email,password,location,ranking
0,1,John,Doe,john.doe@example.com,securepassword123,New York,4.8
1,2,Jo,Do,jo.doe@example.com,securepassword123,New Jersey,4.8

In [8]:
user = User("Jo", "Do", "jo.doe@example.com", "securepassword123", "New Jersey")
User.setup_database()  # Initialize the database and tables
user.save()  # Save the user to the database

In [3]:
from pathlib import Path

In [ ]:
db_path = parent_directory / 'users.db'